# full folders
.vscode/settings.json
.vscode/symbols.lua
editor/
env/
exceptions/
profiles/
r1m1.bak/
r1m2.bak/
r1m3.bak/
r1m4.bak/
r2m1.bak/
r2m2.bak/
r3m1.bak/
r3m2.bak/
r4m1.bak/
r4m2.bak/
1/
pl/
showcars/
t/
t1/
zoo/
копия (2) showcars/
libs/
patch/
patcher_logs/
remaster/
# not used files
datasources.txt
devicecompatible.xml
localDialogs.xml
localQuestInfo.xml
localQuests.xml
memlog.txt
QuestStates.xml
video.xml
# file extensions
*.asm
*.bak
*.bat
*.bin
*.bmp
*.bps
*.cfg
*.cfg_
*.cliff
*.cpt
*.cursor
*.dds
*.dll
*.doc 
*.exe 
*.fx
*.gam
*.sam
*.jpg
*.lnk
*.log 
*.odt
*.ogg
*.pdb
*.png
*.ps 
*.psd
*.py
*.rar
*.raw
*.shader
*.tga
*.tile
*.tmp
*.txt
*.vs 
*.wav
*.wmv
*.zip
*.yaml
*.psys
*.ssl
# exceptions
!data/maps/mainmenu.ssl
!data/maps/r1m1.ssl
!data/maps/r1m2.ssl
!data/maps/r1m3.ssl
!data/maps/r1m4.ssl
!data/maps/r2m1.ssl
!data/maps/r2m2.ssl
!data/maps/r3m1.ssl
!data/maps/r3m2.ssl
!data/maps/r4m1.ssl
!data/maps/r4m2.ssl
!data/maps/r1m5.ssl

