# full folders
.vscode/settings.json
.vscode/symbols.lua
editor/
env/
exceptions/
profiles/
r1m1.bak/
r1m2.bak/
r1m3.bak/
r1m4.bak/
r2m1.bak/
r2m2.bak/
r3m1.bak/
r3m2.bak/
r4m1.bak/
r4m2.bak/
1/
pl/
showcars/
t/
t1/
zoo/
копия (2) showcars/
libs/
patch/
patcher_logs/
remaster/
# not used files
datasources.txt
devicecompatible.xml
localDialogs.xml
localQuestInfo.xml
localQuests.xml
memlog.txt
QuestStates.xml
video.xml
# file extensions
*.asm
*.bak
*.bat
*.bin
*.bmp
*.bps
*.cfg
*.cfg_
*.cliff
*.cpt
*.cursor
*.dds
*.dll
*.doc 
*.exe 
*.fx
*.gam
*.sam
*.jpg
*.lnk
*.log 
*.odt
*.ogg
*.pdb
*.png
*.ps 
*.psd
*.py
*.rar
*.raw
*.shader
*.tga
*.tile
*.tmp
*.txt
*.vs 
*.wav
*.wmv
*.zip
*.yaml
*.psys
*.ssl
#r1m5
!data/maps/r1m5.ssl
!data/maps/r1m5/colormap.raw
!data/maps/r1m5/displace.bin
!data/maps/r1m5/level.tile
!data/maps/r1m5/lightmap_daytime_r1m5.dds
!data/maps/r1m5/lightmap_nighttime_r1m5.dds
!data/maps/r1m5/lightmap_sunrisetime_r1m5.dds
!data/maps/r1m5/lightmap_sunsettime_r1m5.dds
!data/maps/r1m5/NormalMap.bin
!data/maps/r1m5/passmap.raw
!data/maps/r1m5/player_passmap.bin
!data/maps/r1m5/ShoreLine.bin
!data/maps/r1m5/water.raw
#dds
!data/if/map/dungeon.dds
!data/if/ico_hd/splashes/dungeon.dds
!data/if/ico_hd/splashes/archipelago.dds
#sounds
!data/music/silence.ogg
!data/sounds/dungeon/dungeon_key.wav
!data/sounds/dungeon/dungeon_ambient_1.wav
!data/sounds/dungeon/dungeon_ambient_key.wav
!data/sounds/dungeon/post_challenge_rotate.wav
!data/sounds/dungeon/dungeon_start.wav
!data/sounds/dungeon/dungeon_complete_challenge.wav
!data/sounds/dungeon/dungeon_fail_challenge.wav
!data/sounds/dungeon/dungeon_ambient_drop.wav
#models
!data/models/buildings/domain/post_challenge/post_challenge.gam
!data/models/buildings/domain/post_challenge/post_challenge1.dds
!data/models/buildings/domain/post_challenge/post_challenge2.dds
!data/models/buildings/domain/post_challenge/post_challenge_sword.gam
!data/models/buildings/domain/post_challenge/sword_red.dds
!data/models/buildings/domain/post_challenge/sword_blue.dds
#music
!data/music/dungeons/sumeru_battle_1.ogg
!data/music/dungeons/sumeru_battle_2.ogg
#archipelago
!data/maps/archipelago_gold_apple.ssl
!data/maps/archipelago_gold_apple/colormap.raw
!data/maps/archipelago_gold_apple/displace.bin
!data/maps/archipelago_gold_apple/level.tile
!data/maps/archipelago_gold_apple/lightmap_daytime_archipelago.dds
!data/maps/archipelago_gold_apple/lightmap_nighttime_archipelago.dds
!data/maps/archipelago_gold_apple/lightmap_sunrisetime_archipelago.dds
!data/maps/archipelago_gold_apple/lightmap_sunsettime_archipelago.dds
!data/maps/archipelago_gold_apple/NormalMap.bin
!data/maps/archipelago_gold_apple/passmap.raw
!data/maps/archipelago_gold_apple/player_passmap.bin
!data/maps/archipelago_gold_apple/ShoreLine.bin
!data/maps/archipelago_gold_apple/water.raw


